@font-face {
    font-family: "Market Sans";
    src: url("./assets/fonts/MarketSans/MarketSans-SemiBold-WebS.woff2")
            format("woff2"),
        url("./assets/fonts/MarketSans/MarketSans-SemiBold-WebS.woff")
            format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Market Sans";
    src: url("./assets/fonts/MarketSans/MarketSans-Regular-WebS.woff2")
            format("woff2"),
        url("./assets/fonts/MarketSans/MarketSans-Regular-WebS.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
