.btn {
    padding: 8px 16px;
    margin-left: 12px;

    min-width: 168px;
    height: 44px;

    font-size: 14px;
    font-weight: bold;

    border-radius: 40px;

    &-search {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #3665f3;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #382aef;
        }
    }
}
