.category-menu {
    margin-left: 25px;
    padding: 6px 32px 6px 0;

    display: inline-flex;
    align-items: center;

    &__title {
        color: #707070;
        line-height: 14px;
    }

    &__arrow {
        margin-left: 8px;
    }
}
