.popular-categories {
    &__heading {
        margin-top: 50px;
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__list {
        margin-top: 25px;
    }

    &__item {
        text-align: center;
        &-bg{
                width: 164px;
                height: 164px;
                border-radius: 50%;
                background:#000;
                position: absolute;
                opacity: 0.03;
                &:hover{
                    opacity: 0.08;
                }
        }
        &:hover a {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 10px;
        }
        
    }
    &__img {
        display: block;
        width: 164px;
        height: 164px;
        border-radius: 50%;
        
    }

    &__title {
        margin-top: 12px;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

