<div class="footer__inner">
    <div class="container">
        <ul class="row row-cols-5 footer__list">
            <li class="footer__item">
                <h3 class="footer__title">Buy</h3>
                <a href="#!" class="footer__link">Registration</a>
                <a href="#!" class="footer__link">eBay Money Back Guarantee</a>
                <a href="#!" class="footer__link">Bidding & buying help</a>
                <a href="#!" class="footer__link">Stores</a>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">Sell</h3>
                <a href="#!" class="footer__link">Start selling</a>
                <a href="#!" class="footer__link">Learn to sell</a>
                <a href="#!" class="footer__link">Affiliates</a>

                <h3 class="footer__title footer__title-2">Tools & apps</h3>
                <a href="#!" class="footer__link">Developers</a>
                <a href="#!" class="footer__link">Security center</a>
                <a href="#!" class="footer__link">Site map</a>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">Stay connected</h3>
                <a href="#!" class="footer__link">eBay's Blogs</a>
                <a href="#!" class="footer__social-media">
                    <img src="" alt="" />
                    <span class="footer__link">Facebook</span>
                </a>
                <a href="#!" class="footer__social-media">
                    <img src="" alt="" />
                    <span class="footer__link">Twitter</span>
                </a>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">About eBay</h3>
                <a href="#!" class="footer__link">Company info</a>
                <a href="#!" class="footer__link">News</a>
                <a href="#!" class="footer__link">Investors</a>
                <a href="#!" class="footer__link">Careers</a>

                <a href="#!" class="footer__link">Government relations</a>
                <a href="#!" class="footer__link">Advertise with us</a>
                <a href="#!" class="footer__link">Policies</a>
                <a href="#!" class="footer__link">
                    Verified Rights Owner (VeRO) Program
                </a>
            </li>
            <li class="footer__item">
                <h3 class="footer__title">Help & Contact</h3>
                <a href="#!" class="footer__link">Seller Information Center</a>
                <a href="#!" class="footer__link">Contact us</a>

                <h3 class="footer__title footer__title-2">Community</h3>
                <a href="#!" class="footer__link">Announcements</a>
                <a href="#!" class="footer__link">Discussion boards</a>
                <a href="#!" class="footer__link">eBay Giving Works</a>

                
            </li>
        </ul>
    </div>
</div>
