<div class="header__inner">
    <div class="container">
        <div class="row">
            <ul class="header__list-left">
                <li class="header__register-wrap">
                    Hi!
                    <a href="#!" class="header__register-link">Sign in</a> or
                    <a href="#!" class="header__register-link">register</a>
                </li>
                <li class="header__divider">
                    <a href="#!" class="header__divider-link">Daily Deals</a>
                </li>
                <li class="header__divider">
                    <a href="#!" class="header__divider-link">Brand Outlet</a>
                </li>
                <li class="header__divider">
                    <a href="#!" class="header__divider-link">Gift Cards</a>
                </li>
                <li class="header__divider">
                    <a href="#!" class="header__divider-link">Help & Contact</a>
                </li>
            </ul>

            <ul class="header__list-right">
                <li class="header__item-right"><a href="#!">Sell</a></li>
                <li class="header__item-right">
                    <span>Watchlist</span>
                    <div class="arrow"></div>
                </li>
                <li class="header__item-right">
                    <span>My eBay</span>
                    <div class="arrow"></div>
                </li>
                <li class="header__item-right">
                    <img
                        src="./assets/icons/header/bell.svg"
                        alt=""
                        class="header__icon"
                    />
                </li>
                <li class="header__item-right">
                    <img
                        src="./assets/icons/header/cart-shopping.svg"
                        alt=""
                        class="header__icon"
                    />
                </li>
            </ul>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <a href="\"
                    ><img
                        src="./assets/icons/header/logo.svg"
                        alt=""
                        class="logo"
                /></a>

                <button
                    class="category-menu js-toggle"
                    toggle-target="#category-menu__content"
                >
                    <span class="category-menu__title"
                        >Shop by <br />
                        category</span
                    >
                    <div class="category-menu__arrow arrow"></div>
                </button>
                <div
                    class="category-menu__content"
                    id="category-menu__content"
                ></div>

                <div class="search-bar">
                    <label for="search">
                        <img
                            src="./assets/icons/header/search.svg"
                            alt=""
                            class="search-bar__icon"
                        />
                    </label>
                    <input
                        type="text"
                        name="search"
                        id="search"
                        placeholder="Search for anything"
                        class="search-bar__input"
                    />
                    <button class="search-bar__category">
                        <span>All categories</span>
                        <div class="arrow"></div>
                    </button>
                </div>

                <button class="btn btn-search">Search</button>

                <a href="#!" class="header__bottom-advanced">Advanced</a>
            </div>
        </div>
    </div>
</div>
