<ul class="mega-menu">
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link"> Explore (New!)</a>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Saved</a>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link"> Electronics </a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Smartphones and accessories
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Video games and consoles
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Computers and tablets
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Cameras and photos
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Camera drones
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Refurbished
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Smart home
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">Apple</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">Samsung</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Portable audio and headphones
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Smart watches
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">Deals</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-07.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Motors</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Car</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Auto and truck parts
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Tools and supplies
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Turbo chargers
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Clothing and merchandise
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Shock absorbers
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Electronic and GPS
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Air intake
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Motorcycle and more</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Motorcycle parts</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Body and frame</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Engines and parts
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Accessories
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Exhausts and systems</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Rims </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-01.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Fashion</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Footwear
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Women's clothing
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Footwear for women
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Men's clothing
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Men's footwear
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Watches
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Jewelry
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Accessories for men</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Accessories for women</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                ags and wallets for women
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Mens sunglasses
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Womens sunglasses</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sneakers
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-03.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Collectibles and Art</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Collectibles
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Art </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Action figures
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Cartoon characters
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Movie and TV characters
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Diecast
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Musical memorabilia
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Sports memorabilia</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Trading card games</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Antiques
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Comics
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Funko pop</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Star Wars
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-04.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Sports</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Cycling
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Fitness, running and yoga
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Fitness Tech
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Fishing
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Camping
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Scooters
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Team sports
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Watersports</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Winter sports</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Box and MMA
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Swimming
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >GPS & Running Watches</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Garmin
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-05.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Health & Beauty</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Beauty
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Makeup
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Health
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                K-Beauty
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Manicure and pedicure
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Hair products
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Skin products
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Orthopedic products
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Vitamins and food supplements</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Shaving and waxing
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Bath and personal hygiene
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Oral hygiene
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Massagers</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-06.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Industrial equipment</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Dental healthcare
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Electronic equipment and supplies
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Metallurgy and manufacturing
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Motors and industrial automation
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Heavy equipment parts
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Light industrial tools
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Inspection, measurement and testing equipment
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Packing and shipping</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Office supplies and equipment</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Printing and graphic arts
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Restaurants and food service
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Maintenance and safety</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Retail and services
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-02.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Home & Garden</a>
        <div class="sub-menu">
            <div class="sub-menu__item-wrap">
                <!-- Item group 1 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">Most popular categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Workshop Tools and Equipment
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Patio, garden and outdoors
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Home improvement
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Kitchen, dining and bar
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Lamps, lights and fans
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Interior decoration
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Home organization
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Home appliances
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Item group 2 -->
                <div class="sub-menu__group">
                    <div class="sub-menu__title">More categories</div>
                    <ul>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">Toys</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">Pets</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Crafts
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Art supplies
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"
                                >Musical instruments</a
                            >
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Jewelry and beads
                            </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link"> Deals </a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="#!" class="sub-menu__item-link">
                                Sell on eBay
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu__img-block">
                    <a href="#!" class="sub-menu__img-link">
                        <img
                            src="./assets/img/sub-menu/sub-menu-08.png"
                            alt=""
                            class="sub-menu__img"
                        />
                    </a>
                </div>
            </div>
            <div class="sub-menu__thumb"></div>
        </div>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Deals</a>
    </li>
    <li class="mega-menu__item">
        <a href="#!" class="mega-menu__item-link">Sell</a>
    </li>
</ul>

<div class="slider">
    <button class="slider-pre"><i class="fa-solid fa-chevron-up"></i></button>

    <ul class="slider-list">
        <li class="slider-item">
            <a href="#!" class="slider-link">
                <section class="slider__info">
                    <h2 class="slider__heading">Expand your collection</h2>
                    <p class="slider__desc">
                        Discover a wide range of comic books, cards and action
                        figures!
                    </p>
                    <button class="btn slider__btn"><div>Shop now</div></button>
                </section>
                <div class="slider__block">
                    <img
                        src="./assets/img/slider/s-l1600.png"
                        alt=""
                        class="slider__img"
                    />
                </div>
            </a>
        </li>

        <li class="slider-item">
            <a href="#!" class="slider-link">
                <section class="slider__info">
                    <h2 class="slider__heading">
                        The right sneakers to pave your way
                    </h2>
                    <p class="slider__desc">
                        Express yourself with iconic footwear from the best
                        brands.
                    </p>
                    <button class="btn slider__btn">Shop now</button>
                </section>
                <div class="slider__block">
                    <img
                        src="./assets/img/slider/s-l960.webp"
                        alt=""
                        class="slider__img"
                    />
                </div>
            </a>
        </li>
    </ul>
    <button class="slider-next"><i class="fa-solid fa-chevron-up"></i></button>
    <button class="slider-pause"><i class="fa-solid fa-pause"></i></button>
    <button class="slider-play"><i class="fa-solid fa-play"></i></button>
</div>

<div class="container">
    <div class="popular-categories">
        <h2 class="popular-categories__heading">Explore Popular Categories</h2>

        <ul class="row row-cols-7 popular-categories__list">
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/01_PopularDestination_Luxury.jpg"
                        alt=""
                        class="popular-categories__img" 
                    />
                    <p class="popular-categories__title">Luxury</p>
                </a>
            </li>
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/02_PopularDestination_Sneakers.jpg"
                        alt=""
                        class="popular-categories__img"
                    />
                    <p class="popular-categories__title">Sneakers</p>
                </a>
            </li>
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/03_PopularDestination_Tire.jpg"
                        alt=""
                        class="popular-categories__img"
                    />
                    <p class="popular-categories__title">P&A</p>
                </a>
            </li>
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/ECM_PopularDestination_Reburbished.jpg"
                        alt=""
                        class="popular-categories__img"
                    />
                    <p class="popular-categories__title">Refurbished</p>
                </a>
            </li>
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/05_PopularDestination_Cards.jpg"
                        alt=""
                        class="popular-categories__img"
                    />
                    <p class="popular-categories__title">Trading cards</p>
                </a>
            </li>
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/06_PopularDestination_PreLoved.jpg"
                        alt=""
                        class="popular-categories__img"
                    />
                    <p class="popular-categories__title">Pre-loved Luxury</p>
                </a>
            </li>
            <li class="popular-categories__item">
                <a href="#!">
                    <div class="popular-categories__item-bg"></div>
                    <img
                        src="./assets/img/popular-categories/07_PopularDestination_Toys.jpg"
                        alt=""
                        class="popular-categories__img"
                    />
                    <p class="popular-categories__title">Toys</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="slider slider--no-translate">
    <ul class="slider-list">
        <li class="slider-item">
            <a href="#!" class="slider-link">
                <section class="slider__info">
                    <h2 class="slider__heading">Sneakers for your path</h2>
                    <p class="slider__desc">
                        Express yourself with iconic footwear from the best
                        brands.
                    </p>
                    <button class="btn slider__btn">Shop now</button>
                </section>
                <div class="slider__block">
                    <img
                        src="../assets/img/slider/s-l960.webp"
                        alt=""
                        class="slider__img"
                    />
                </div>
            </a>
        </li>
    </ul>
</div>
